* { 
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: #0c101b;
}

@keyframes appearUp {
    0% {
        transform: translateY(40%);
        opacity: 0%;
    } 100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}
@keyframes textGradient {
    from {
        background-position: 0% center;
    } to {
        background-position: -200% center;
    }
}

#front-text {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 10vw;
    animation: appearUp 3s cubic-bezier(.85,.26,.4,.9) 0s 1;
}

h1 > .gradient {
    animation: textGradient 5s linear infinite;
    background: linear-gradient(
        to left,
        #2eabc8,
        rgb(132, 161, 255),
        #2eabc8
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.tiers > h1 {
    position: absolute;
    font-size: 6vh;
    color: #2eabc8;
    left: 10%;
    top: 20%;
}
.tiers > div {
    position: absolute;
    font-size: 5vh;
}
.tiers > p {
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 1rem;
    color: rgb(233, 233, 233);
}

div > #diamond {
    color: #4EE2EC;
    left: 100px;
    top: 50%;
}
div > #platinum {
    color: #E5E4E2;
    right: 100px;
    top: 50%;
}
div > #gold {
    color: gold;
    text-align: center;
    top: 150%;
}
div > #silver {
    color: silver;
    text-align: center;
    top: 150%;
}
div > #bronze {
    top: 150%;
    color: #CD7F32;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    div > #diamond {top: 50%; left: 0}
    div > #platinum {top: 100%; right: 0}
    div > #gold {top: 150%}
    div > #silver {top: 200%}
    div > #bronze {top: 250%}

    .tiers > div {
        width: 100%;
        text-align: center;
    }
}

/* style header with logo on the left and nav on the right */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: rgb(21, 29, 50);
    color: #fff;
}

/* style nav items */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
}

#header a {
    color: #00AED7;
    text-decoration: none;
    transition: 0.2s;
}

#header a:hover {
    transform: translateY(-2px);
    color: #fff;
    transition: 0.2s;
}

#nav a {
    color: #00AED7;
    text-decoration: underline transparent;
    transition: 0.2s;
}

#nav a:hover {
    border-bottom: 3px solid lightskyblue;
    transform: translateY(-1px);
    color: #fff;
    transition: 0.2s;
}

#footing {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(21, 29, 50);
    color: grey;
    text-align: left;
    padding: 1.2rem;
    font-size: 0.8rem;
}
#instagram {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 1rem;
    bottom: 0.6rem;
    fill: #1e5697;
}
#mail {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 4rem;
    bottom: 0.6rem;
    fill: #1e5697;
}
#tiktok {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 7rem;
    bottom: 0.6rem;
    fill: #1e5697;
}
#twitter {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 10rem;
    bottom: 0.6rem;
    fill: #1e5697;
}