* { 
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: #111627;
    height: 100%;
}

@keyframes appear {
    0% {
        transform: translateY(100%);
        opacity: 0%;
    } 100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}
@keyframes showUp {
    from {
        transform: translateY(0%);
        opacity: 0%;
    } to {
        transform: translateY(10%);
        opacity: 100%;
    }
}
@keyframes hideDown {
    from {
        transform: translateY(0%);
        opacity: 100%;
    } to {
        transform: translateY(10%);
        opacity: 0%;
    }
}
@keyframes textGradient {
    from {
        background-position: 0% center;
    } to {
        background-position: -200% center;
    }
}

#front-text {
    display: block;
    margin-top: 30vh;
    text-align: center;
    align-items: center;
    font-size: 10vw;
    animation: appear 1.2s cubic-bezier(.06,.62,.58,1) 0.2s 1 forwards;
    overflow-y: hidden;
    opacity: 0%;
    transform: translateY(100%);
}
.event-divider-wrapper {
    display: block;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-left: 8%;
}
#event-container-divider {
    color: whitesmoke;
    text-align: center;
    font-size: 2em;
    width: 84%;
    margin-top: 40vh;
    margin-bottom: 10vh;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 1vh;
}
.event-container {
    width: 100%;
}
.event-container img {
    height: auto;
    width: 50%;
    flex-basis: 30%;
    border-radius: 5px;
    float: right;
}
.event-container h1 {
    color: whitesmoke;
    font-size: 2rem;
    margin-right: 10px;
}
#event {
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    background-color: rgb(18, 51, 100);
    border: 0px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 25px 5vw 25px 5vw;
}
@media only screen and (max-width: 1000px) {
    #event {display: block}
    .event-container h1 {margin-right: 0; margin-bottom: 10px}
}

h1 > .gradient {
    animation: textGradient 5s linear infinite;
    background: linear-gradient(
        to left,
        #2eabc8,
        rgb(132, 161, 255),
        #2eabc8
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.tiers > h1 {
    display: block;
    font-size: 5rem;
    color: #2eabc8;
    margin-left: 10%;
    margin-top: 100px;
}
.tiers > p {
    display: block;
    margin-left: 10%;
    color: whitesmoke;
    font-size: 1rem;
    margin-top: 30px;
}

.tiers > .levels > div {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 100px;
} 
.tiers > .lowerlevels > div {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 100px;
}

.lowerlevels li {
    font-size: 1rem;
    text-align: left;
    margin-left: 4rem;
}
.levels li {
    font-size: 16px;
    text-align: left;
    margin-left: 4rem;
}

div > #diamond {
    animation: textGradient 2s linear infinite;
    background: linear-gradient(
        to left,
        #1d9df1,
        #80ccff,
        #1d9df1,
        #1d9df1,
        #1d9df1
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    border: 0px solid rgb(0, 0, 0);
    margin-top: 50px;
}
div > #platinum {
    color: #E5E4E2;
}
div > #gold {
    color: rgb(214, 182, 0);
}
div > #silver {
    color: silver;
}
div > #bronze {
    color: #CD7F32;
}

@media only screen and (min-width: 1000px) {
    .tiers > .levels {
        display: flex;
        justify-content: space-around;
        height: 500px;
        align-items: center;
        margin-top: 18vh;
    }
    .tiers > .lowerlevels {
        display: flex;
        justify-content: space-around;
        height: 500px;
        align-items: center;
    }
    .tiers > .levels > div {position: static; font-size: 5vh}
    .tiers > .lowerlevels > div {position: static; font-size: 3vh;}
}

/* style header with logo on the left and nav on the right */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: rgb(21, 29, 50);
    color: #fff;
}

/* style nav items */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
}

#header a {
    color: #00AED7;
    text-decoration: none;
    transition: 0.2s;
}

#header a:hover {
    transform: translateY(-2px);
    color: #fff;
    transition: 0.2s;
}

#nav a {
    color: #00AED7;
    text-decoration: underline transparent;
    transition: 0.2s;
}

#nav a:hover {
    border-bottom: 3px solid lightskyblue;
    transform: translateY(-1px);
    color: #fff;
    transition: 0.2s;
}
.footing-container {
    display: block;
}
#footing {
    display: flex;
    width: 100%;
    background-color: rgb(21, 29, 50);
    color: grey;
    padding: 1.2rem;
    font-size: 0.8rem;
}

#instagram { right: 1rem; }
#mail { right: 4rem; }
#tiktok { right: 7rem; }
#twitter { right: 10rem; }

.social {
    width: 30px;
    height: 30px;
    bottom: 0.6rem;
    fill: #2363ac;
    transition: 0.2s;
}

.social:hover {
    transform: translateY(-2px);
    transition: 0.2s;
    fill: #2d7edb;
}