:root {
    --gray: gray;
    --dark-gray: #151516;
    --white: whitesmoke;
    --purple: rgb(71, 39, 167);
    --dark-purple: #291942;

    --bright-blue-1: #3588db;
    --bright-blue-2: #2e7bc8;
    --bright-blue-3: #2363ac;

    --navy-accent: #162f5a;
    --navy-accent-saturated: #07193e;

    --dark-blue-bg: #04060b;
    --dark-blue-accent: #141721;

    --easy-black: #030303;
    --background-gradient: rgb(16, 20, 27);

    /* Not colors */

    --font-size-hero: 10rem;
    --font-size-subhero: 8rem;
    --font-size-main: 6rem;
    --font-size-submain: 4rem;
    --font-size-largetext: 3.5rem;
    --font-size-normaltext: 2rem;
    --font-size-smalltext: 1.2rem;
    --font-size-xsmalltext: 0.8rem;

    --section-spacing: 22rem;
    --div-spacing: 10rem;
    --display: flex;
}

/* _____ BASE STYLES _____ */

@keyframes dropDown {
    from {
        height: 0px;
    } to {
        height: 170px;
    }
}

* { 
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: var(--easy-black);
}

video {
    position: absolute;
    z-index: -1;
    opacity: 80%;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
}

#body-bg-gradient {
    height: 100%;
    background: linear-gradient(176deg, var(--easy-black) 40%, var(--background-gradient) 100%);
    cursor: default;
    background-attachment: fixed;
}

.active {
    transform: translateY(0);
    opacity: 100%;
    transition: all 0.4s;
}
.inactive {
    transform: translateY(50%);
    opacity: 0%;
}
.content-highlight {
    color: var(--white);
}
.anchor-style {
    text-decoration: none;
    color: var(--bright-blue-1);
    transition: 0.2s;
}
.anchor-style:hover {
    color: var(--white);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    z-index: 100;
    background: linear-gradient(180deg, var(--easy-black) 20%, transparent 100%);
}
header a {
    color: var(--bright-blue-1);
    text-decoration: none;
    transition: 0.2s;
}

header a:hover {
    transform: translateY(-2px);
    color: #fff;
    transition: 0.2s;
}

/* Footer */
footer {
    display: block;
    padding: 1.2rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
}
footer > section {
    display: block;
    width: 90%;
    margin-left: 5%;
    color: grey;
    font-size: var(--font-size-xsmalltext);
    text-align: center;
}
footer > section > div {
    margin: 1rem;
}
#footer-alt-text {
    width: 70%;
    margin-left: 15% !important;
}
#footer-divider {
    display: block;
    width: 50%;
    border-top: 3px solid var(--white);
    text-align: center;
    margin-left: 25% !important;
}
#pre-footer {
    text-align: center;
    width: 100%;
}
#pre-footer > .map-el {
    display: inline-block;
    margin: 50px 20px 50px 20px;
}
.map-el > ul {
    color: var(--gray);
    font-size: 1.5rem;
    text-align: left;
}
#google-map {
    border-radius: 5px;
    height: 300px;
    width: 400px;
}
#map-content {
    height: 300px;
    width: 400px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(24rem + 1vw);
    padding: 8px;
}

nav a {
    color: var(--bright-blue-1);
    text-decoration: underline transparent;
    transition: 0.2s;
}

nav a:hover {
    border-bottom: 3px solid var(--bright-blue-1);
    transform: translateY(-1px);
    color: #fff;
    transition: 0.2s;
}
#sponsor-us {
    background-color: #ffde17;
    color: var(--easy-black);
    border-bottom: none !important;
    border-radius: 20px;
    padding: 10px;
}
#sponsor-us:hover {
    transform: scale(105%);
    background-color: #ffe817;
}

/* (Mobile) menu dropdown */
#mobile-menu-icon {
    cursor: pointer;
    display: none;
    align-items: center;
}

#mobile-menu-icon svg {
    fill: white;
    width: 2rem;
    height: auto;
}

.open .mobile-menu{
    display: inline-block;
    position: absolute;
    animation: dropDown 0.15s linear forwards;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    z-index: 10;
}

.mobile-menu{
    display: none;
    top: 83px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 5rem 10px 2rem;
    backdrop-filter: blur(10px);
}

.mobile-menu a{
    color: var(--bright-blue-1);
    text-decoration: none;
}
.mobile-menu a:hover {
    color: #fff;
    transition: 0.4s;
}

.mobile-menu li {
    margin-bottom: 10px;
}
.mobile-sponsor-us {
    line-height: 50px;
}

/* Sparkans logo styles */
#logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: gray;
    font-size: var(--font-size-xsmalltext);
}
#logo-container p {margin-left: 1vw;}

/* _____ FRONT PAGE STYLES _____ */

@keyframes appear {
    0% {
        transform: translateY(50%);
        opacity: 0%;
    } 100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

/* Video player for background */
#video-container {
    position: absolute;
    height: 100%;
    min-height: 600px;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-gradient {
    background: linear-gradient(160deg, rgb(0, 0, 0, 0) 10%, var(--easy-black) 100%);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    min-height: 600px;
}

/* Double down chevrons */
#more {
    height: 5rem;
    width: 5rem;
    display: flex;
    margin-left: calc(50vw - 2.5rem);
    fill: var(--bright-blue-3);
    position: absolute;
    bottom: 2rem;
    opacity: 0%;
    animation: fadeIn 0.5s linear 1s 1 forwards;
}

/* Hero "Sparkans" text */

#front-text-container {
    position: absolute;
    height: 100%;
    min-height: 600px;
    width: 100%;
    top: 0;
    z-index: -1;
}
#front-text {
    display: block;
    position: relative;
    width: 100%;
    top: calc(50% - var(--font-size-hero) / 2);
    margin-bottom: 20vh;
    text-align: center;
    font-size: var(--font-size-hero);
    animation: appear 0.8s cubic-bezier(.06,.62,.58,1) 0.2s 1 forwards;
    overflow: hidden;
    opacity: 0%;
    transform: translateY(100%);
    z-index: 5;
    color: white;
}
#front-text > *{
    display: inline-block;
    width: 100%;
}
#front-text > span > span {
    display: block;
    width: 100%;
    font-size: var(--font-size-largetext);
}
h1 > .gradient {
    background: linear-gradient(
        to right,
        var(--bright-blue-2),
        var(--purple)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

#landing-page {
    position: absolute;
    top: max(600px, 100%);
    width: 100%;
}

/* Hero "Innovation" text */
#promotional-container {
    display: block;
    margin-top: 20vh;
    margin-left: 10%;
}
#promotional-container h1 {
    color: var(--bright-blue-3);
    font-size: var(--font-size-largetext);
}
.highlight {
    color: var(--white);
    font-size: var(--font-size-hero);
}

@keyframes blink {
    50% {opacity: 100%}
    50.001% {opacity: 0%}

    99.999% {opacity: 0%}
    100% {opacity: 100%}
}
#promotional-container .executed::after {
    content: "|";
    animation: blink 1.1s linear 1.5s infinite forwards;
}
/* Text content */
#front-about-content-wrapper {
    display: block;
    width: 100%;
    justify-content: center;
    margin-left: 10%;
    margin-top: 12rem;
}
#front-about-content {
    display: flex;
    justify-content: center;
    width: 80%;
    color: var(--gray);
    font-size: var(--font-size-normaltext);
}
#button-learnmore {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
#button-learnmore a {
    color: var(--white);
    text-decoration: none;
    font-size: var(--font-size-normaltext);
}
#button-learnmore svg {
    width: 25px;
    height: auto;
    fill: var(--white);
    margin-left: 1rem;
    transition: 0.2s;
}
#button-learnmore a:hover + svg {
    transform: translateX(10px);
}

/* Image/content blocks */
#image-content-blocks-container {
    display: block;
    width: 100%;
    margin-top: 14rem;
}
#image-content-blocks {
    width: 100%;
}
.content-block {
    margin-bottom: 3rem;
    position: relative;
}
.fade-gradient {
    background: linear-gradient(90deg, var(--easy-black) 30%, rgb(0, 0, 0, 0) 100%);
    width: 100%;
    height: 20vw;
    min-height: 250px;
    opacity: 85%;
    position: absolute;
    z-index: 1;
}
.content-block-text {
    position: absolute;
    z-index: 2;
    color: white;
    margin-top: 2rem;
    margin-left: 3rem;
    width: 35%;
    min-width: 370px;
}
#text-reversed {
    right: 0px;
    margin-right: 3rem;
}

.gradient-reversed {
    background: linear-gradient(270deg, var(--easy-black) 30%, rgb(0, 0, 0, 0) 100%);
}
.content-block-text h1 {
    font-size: var(--font-size-largetext);
}
.content-block-text p {
    word-wrap: break-word;
    font-size: 1.3rem;
}
.content-block img {
    width: 100%;
    height: 20vw;
    min-height: 250px;
    object-fit: cover;
}


/* Events */
.event-divider-wrapper {
    display: block;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-left: 8%;
}
#event-container-divider {
    color: var(--white);
    text-align: center;
    font-size: var(--font-size-largetext);
    width: 84%;
    margin-top: 12rem;
    margin-bottom: 4rem;
    border-bottom: 2px solid var(--white);
    padding-bottom: 1vh;
}

.event-container {
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.event {
    position: relative;
    display: inline-block;
    margin: 1rem;
    text-align: left;
}
.event-container img {
    max-width: 400px;
    width: 90vw;
    height: 280px;
    object-fit: cover;
    border-radius: 6px;
}
.event-fade {
    background: linear-gradient(0deg, var(--easy-black) 10%, rgb(0, 0, 0, 0) 80%);
    max-width: 400px;
    width: 90vw;
    height: 280px;
    border-radius: 6px;
    z-index: 1;
    position: absolute;
    opacity: 80%;
}
.event-description {
    display: inline-block;
    position: absolute;
    color: var(--white);
    font-size: var(--font-size-normaltext);
    bottom: 0;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    z-index: 2;
}
.event-date {
    position: absolute;
    padding: 6px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.65);
    font-size: var(--font-size-smalltext);
    color: var(--white);
    border-radius: 8px;
    right: 0;
    z-index: 2;
}

/* Sponsor button/promo */
.sponsor-promo-wrapper {
    display: block;
    background: linear-gradient(160deg, transparent 30%, rgba(20, 53, 75, 0.842) 100%);
    margin-top: 5rem;
}
.sponsor-promo-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.sponsor-promo-container a {
    font-size: var(--font-size-largetext);
    color: var(--white);
    text-decoration: none;
}
.sponsor-promo-container svg {
    width: 50px;
    height: auto;
    fill: var(--white);
    transition: 0.2s;
    margin-left: 2rem;
}
.sponsor-promo-container:hover > svg{
    transform: translateX(2rem);
}


/* _____ SPONSOR PAGE _____ */

/* Sponsor information text */
#sponsor-text > h1 {
    display: block;
    font-size: var(--font-size-main);
    color: var(--bright-blue-1);
    margin-left: 8%;
    margin-top: 100px;
}

#sponsor-text > p {
    display: block;
    margin-left: 8%;
    color: var(--gray);
    font-size: var(--font-size-normaltext);
    margin-top: 30px;
    width: 84%;
}

/* Sponsorship levels/tiers */
.tiers-wrapper {
    text-align: center;
    margin-top: 5vh;
}
.tiers {
    height: 100%;
    overflow: hidden;
}
.tiers > article {
    display: inline-block;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 1vh 10px 1vh 10px;
    background-color: var(--dark-gray);
    text-align: center;
    font-size: var(--font-size-smalltext);
    margin: 1vw;
    margin-bottom: 2vh;
    width: 380px;
    height: 500px;
    vertical-align: top;
    color: var(--white);
    border-top-width: 6px;
    border-bottom-width: 6px;
    border-radius: 0.75rem;
}

#diamond {
    border-color: rgb(36, 157, 238);
    background: linear-gradient(160deg, var(--dark-gray) 60%, rgb(20, 53, 75) 100%);
}
#platinum {
    border-color: rgb(241, 241, 241);
    background: linear-gradient(160deg, var(--dark-gray) 60%, rgb(63, 63, 63) 100%);
}
#gold {
    border-color: rgb(255, 204, 0);
    background: linear-gradient(160deg, var(--dark-gray) 60%, rgb(68, 58, 20) 100%);
}

#diamond h2 {color: rgb(36, 157, 238)}
#platinum h2 {color: rgb(241, 241, 241)}
#gold h2 {color: rgb(255, 204, 0)}

.tiers h2 {
    font-size: var(--font-size-largetext);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.tiers ul {
    text-align: left;
    width: 340px;
    margin-left: 20px;
}
.tiers ul > li {
    margin-top: 1rem;
    padding: 10px;
    border: 2px solid var(--white);
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.tiers ul > li > svg {
    max-width: 25px;
    height: auto;
    margin-right: 0.5rem;
}
.tiers-wrapper .plus {fill: #4cd265}
.tiers-wrapper .upgrade {fill: #0071e3}
.tiers-wrapper .price {color: var(--gray); font-size: var(--font-size-normaltext)}

/* Sponsor links for ways to sponsor */
#sponsor-links-wrapper {
    margin-top: 3rem;
    width: 80%;
    margin-left: calc(10% - 1rem);
    padding: 1rem;
}
#sponsor-links {
    text-align: left;
    background-color: var(--dark-blue-accent);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: -10px 10px 0px var(--white)
}
#sponsor-links p {
    color: var(--gray);
    font-size: var(--font-size-normaltext);
}
#sponsor-links ul {
    color: var(--gray);
    font-size: var(--font-size-normaltext);
    margin-left: 20px;
}

/* Sponsor buttons */
#sponsor-buttons-wrapper{
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    display: block;
    overflow: hidden;
}
#sponsor-buttons {
    display: inline-block;
    padding: 1rem;
}
#sponsor-buttons a {
    width: 350px;
    height: 250px;
    display: inline-block;
    padding: 1rem;
    margin: 0px 20px 0px 20px;
    border-radius: 15px;
    background-color: var(--dark-blue-accent);
    font-size: 2.2rem;
    box-shadow: -10px 10px 0px var(--bright-blue-3);
}
#sponsor-buttons a > div {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 15px 0px 30px 0px;
}
#sponsor-buttons a > div > img {
    max-height: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    fill: var(--white);
}
#sponsor-buttons a:hover {
    transform: translate(-10px, 10px);
    box-shadow: none;
}

/* Sponsor information */
#sponsor-info-container {
    width: 100%;
    display: block;
    margin-top: var(--div-spacing);
    text-align: center;
}
#sponsor-info {
    color: var(--white);
    text-align: left;
    width: 90%;
    margin-left: 8%;
    margin-bottom: 3rem;
}
#sponsor-info h1 {
    font-size: var(--font-size-submain);
    width: 84%;
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--white);
}

/* Sponsor display container and details */
#sponsor-display-container {
    display: block;
    width: 100%;
    text-align: center;
}
#sponsor-display {
    display: block;
    width: 80%;
    margin-left: 10%;
}
#sponsor-display > article {
    margin-bottom: 5rem;
    color: var(--gray);
    font-size: var(--font-size-smalltext);
}
#sponsor-display > article > h1 {
    font-size: var(--font-size-largetext);
    color: var(--white);
    margin-bottom: 1rem;
}
#display-diamond > h1 {color: rgb(36, 157, 238) !important}
#display-platinum > h1 {color: rgb(241, 241, 241) !important}
#display-gold > h1 {color: rgb(255, 204, 0) !important}

/* Individual sponsor entry */
.sponsor {
    display: inline-block;
    margin: 1rem;
    color: var(--white);
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 20px;
    width: 270px;
    height: 150px;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: -10px 10px 0px var(--bright-blue-3);
    transition: 0.2s;
}
.sponsor:hover {
    transform: translate(-10px, 10px);
    box-shadow: none;
}
.sponsor img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 270px;
    max-height: 150px;
    border-radius: 5px;
}



/* _____ CONTACTS PAGE _____ */

/* Contact text */
#contact-text > h1 {
    display: block;
    font-size: var(--font-size-main);
    color: var(--bright-blue-1);
    margin-left: 8%;
    margin-top: 100px;
}
#contact-text > p {
    display: block;
    margin-left: 8%;
    color: var(--gray);
    font-size: var(--font-size-normaltext);
    margin-top: 30px;
    width: 84%;
}
#contact-text a {
    color: var(--bright-blue-1);
    text-decoration: none;
    transition: 0.2s;
}
#contact-text a:hover {
    color: #fff;
    transition: 0.2s;
}

/* Social media links and entries */
#socialMedia {
    display: block;
}
.social {
    width: 30px;
    height: 30px;
    bottom: 0.6rem;
    fill: var(--bright-blue-3);
    transition: 0.2s;
    margin: 0.5rem;
}
.social:hover {
    transform: translateY(-2px);
    transition: 0.2s;
    fill: #2d7edb;
}
#contactSocials {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-normaltext);
    margin-left: 8%;
    width: 84%
}
.contactSocial {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
}
.contactSocial > svg {
    width: 30px;
    fill: var(--bright-blue-2);
    margin-right: 0.5rem;
}
#contactSocials a {
    color: var(--bright-blue-1);
    text-decoration: none;
    transition: 0.2s;
}
#contactSocials a:hover {
    color: #fff;
    transition: 0.2s;
}



/* _____ ABOUT PAGE _____ */

.item-divider {
    display: block;
    width: 80%;
    border-top: 1px solid var(--gray);
    text-align: center;
    margin-left: 10% !important;
    margin-bottom: 5rem;
}

/* Main quote */
#quote-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 3rem 0 3rem 0;
}
#quote-content {
    padding: 1rem;
    width: 75%;
}
#quote-content h1 {
    text-align: center;
    font-size: 2.5rem;
    background: linear-gradient(to right, #52b69a, #4895ef);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: wrap;
    margin: 1rem 0 1rem 0;
}
#quote-content h2 {
    color: var(--white);
    opacity: 50%;
    font-size: var(--font-size-smalltext);
    display: inline-block;
    margin-left: 70%;
}

/* Content banners */

#about-banners-container {
    display: block;
    margin-top: 5rem;
}
#about-banners {
    text-align: center;
    padding-bottom: 7rem;
}
.banner {
    width: 400px;
    height: 800px;
    margin: 1rem;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    transition: 0.2s;
    opacity: 80%;
}
.banner:hover {
    transform: scale(102%);
    opacity: 100%;
}
.banner:hover > .banner-text h2 {opacity: 100%}
.banner-text {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    color: var(--white);
}
.banner-text > * {position: absolute}

.banner-text h1 {
    top: 60%;
    font-size: var(--font-size-normaltext);
    left: 50%;
    transform: translate(-50%, 0);
}
.banner-text p {
    text-align: left;
    top: 67%;
    font-size: var(--font-size-smalltext);
    left: 10%;
    width: 80%;
}
.banner-text h2 {
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    color: var(--bright-blue-3);
    opacity: 0%;
    transition: 0.2s;
}
.banner img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.banner-fade {
    width: 400px;
    height: 800px;
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg, transparent 20%, rgba(0, 0, 0, 1) 100%);
    top: 0;
    left: 0;
}

/* Cascading content */
#cascade-items {
    text-align: center;
    padding-top: 5rem;
}
.cascade-element {
    background-color: var(--easy-black);
    display: inline-block;
    position: relative;
    border-radius: 30px;
    height: 90%;
    width: 90%;
    margin-bottom: 5rem;
    transition: 0.2s;
    border: 1px solid var(--gray);
}
.cascade-fade {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 1%, transparent 50%);
    height: 120vh;
    width: 100%;
    position: absolute;
    top: 0;
}
.cascade-img {
    height: 120vh;
    width: 100%;
    object-fit: cover;
    opacity: 75%;
    transition: 0.2s;
}
.cascade-element:hover > .cascade-img {opacity: 85%}
.cascade-text {
    position: absolute;
    text-align: left;
    bottom: 0;
    height: 30vh;
    width: 90%;
    margin-left: calc(5% - 1rem);
    color: var(--white);
}
.cascade-text h1 {font-size: var(--font-size-largetext)}
.cascade-text p {font-size: var(--font-size-smalltext)}

/* _____ ALL MEDIA QUERIES _____ */
@media only screen and (max-width: 1000px) {  /* IPAD */
    #front-text {font-size: 7.5rem}
    .highlight {font-size: 3rem; border-bottom: 5px solid var(--white)}
    #front-about-content {font-size: 1.2rem}
    #button-learnmore a {font-size: 1.2rem}
    #button-learnmore svg {width: 15px}
    #promotional-container {display: none}

    .content-block-text {min-width: 215px}
    .content-block-text h1 {font-size: var(--font-size-normaltext)}
    .content-block-text p {font-size: var(--font-size-xsmalltext)}

    .sponsor-promo-container h1 {font-size: 3rem}
    .sponsor-promo-container svg {width: 40px}

    #quote-content h1 {font-size: 1.5rem}
    #quote-content h2 {font-size: 0.8rem}
    .cascade-fade {display: none}
    .cascade-img {height: 100vh}
    .cascade-text {height: auto; backdrop-filter: blur(5px); background-color: rgba(0, 0, 0, 0.2); top: 10%; bottom: initial; border-radius: 10px; padding: 1rem; width: 80%; margin-left: calc(10% - 1rem)}

    #pre-footer > .map-el {margin: 20px}
}

@media only screen and (max-width: 640px) { /* IPHONE */
    nav {display: none} 
    #mobile-menu-icon {display: flex}
    #front-text {font-size: 4.4rem}

    #text-reversed {right: initial}
    .fade-gradient {display: none}
    .content-block-text {margin: 2rem 0 0 calc(10% - 1rem); max-width: 80%; width: 80%; backdrop-filter: blur(5px); background-color: rgba(0, 0, 0, 0.3); border-radius: 10px; padding: 1rem; min-width: 0px !important;}
    .sponsor-promo-container a {font-size: var(--font-size-normaltext)}
    .sponsor-promo-container svg {width: 30px}

    #sponsor-text > h1 {font-size: 4rem}
    #sponsor-text > p {font-size: 1.2rem}
    #contact-text > h1 {font-size: 3.2rem}
    #contact-text > p {font-size: 1.2rem}
    #sponsor-info h1 {font-size: 3rem}
    #sponsor-info p {font-size: 1.5rem}
    #sponsor-display {width: 90%; margin-left: 5%}
    #sponsor-display > div > h1 {font-size: 2.5rem}
    #sponsor-buttons a {font-size: 1.5rem}

    .tiers > article {width: 300px; font-size: 1rem}
    .tiers ul {width: 280px; margin-left: 10px}
    .tiers-wrapper > h2 {display: none}

    .sponsor {width: 216px; height: 120px}
    .sponsor img {max-width: 216px; max-height: 120px}
    #sponsor-display > article {font-size: 1rem}
    .sponsor-promo-container h1 {font-size: 2rem}
    #sponsor-links p {font-size: 1.2rem}
    #sponsor-links ul {font-size: 1.2rem}

    #quote-content h1 {font-size: 1.2rem}
    #about-banners-container {display: none}
    .cascade-img {height: 80vh}
    .cascade-text h1 {font-size: var(--font-size-normaltext)}
    .cascade-text p {font-size: var(--font-size-xsmalltext)}

    #pre-footer > .map-el {margin: 20px 0px 20px 0px; width: 65vw; min-width: 200px; height: 300px}
    .map-el > ul {font-size: 1rem}
    #map-content {height: fit-content !important}
}


@media only screen and (min-width: 640px) { 
    .open .mobile-menu {
        display: none;
    }
}
@media only screen and (max-width: 320px) {
    * {overflow-x: show;}
    #logo-container p {display: none}
}

/* UNTESTED FUTURE FEATURES */

/* 
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    overflow: hidden;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bright-blue-3);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: rgb(142, 178, 199);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
  
.slider.round {
border-radius: 17px;
}
  
.slider.round:before {
border-radius: 50%;
}

*/